<%- include('../partials/head')  %>

<!--     <link rel="stylesheet" href="/css/reset.css"> -->
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="full-screen">
        <div>
            <h1>Home Page </h1>
            <h2>Welcome <%= user[10].name %></h2>
            <br>
            <a class="button-line" href="#!">More</a>
        </div>
    </div>
    

<%- include('../partials/foot')  %>