<%- include('../partials/head')  %>
<!--     <link rel="stylesheet" href="/css/reset.css"> -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/profile.css">

</head>

<body>

    <div class="full-screen">

        <div class="header-menu">
            <a class="menu-link is-active" href="/profile">My profile</a>
            <a class="menu-link " href="/">Snippets</a>
            <a class="menu-link " href="/logout">Log out</a>
        </div>

        <section class="glass">

        </section>

    </div>

<%- include('../partials/foot')  %>